##
# This file is part of the ChillDev FileManager bundle.
#
# @author Rafał Wrzeszcz <rafal.wrzeszcz@wrzasq.pl>
# @copyright 2012 - 2013 © by Rafał Wrzeszcz - Wrzasq.pl.
# @version 0.1.1
# @since 0.0.1
# @package ChillDev\Bundle\FileManagerBundle
##

/.buildpath
/.project
/.settings
/composer.lock
/Resources/doc/coverage
/output
/vendor
/Tests/translations
